/* global */
	/* 
		font-family: 'Lato', sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Muli', sans-serif; 
	*/
body {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
}

.wrapper {
	width: 1140px;
	margin: 0 auto;
}

.section {
	padding: 100px 0 100px 0;
}

.section__head-wrapper {
	position: relative;
	margin: 0 auto 25px auto;
	text-align: center;
	text-transform: uppercase;
}

.section__head {
	margin: 0;
	color: #e8e8e8;
	font-size: 90px;
	font-family: 'Montserrat', sans-serif;
}

.section__sub-text {
	position: absolute;
	bottom: 13px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #444444;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif; 
}

.btn {
	display: inline-block;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	transition: all .3s ease-in-out;
}

.btn-block {
	margin: 60px auto;
	text-align: center;
}

.btn-block__btn {
	min-width: 225px;
	margin-right: 25px;
	padding: 15px 0;
	font-size: 14px;
	text-transform: capitalize;
	background-color: #ffe401;
}

.btn-block__btn:hover {
	background-color: black;
	color: #ffe401;
}

.btn-block__btn:last-child {
	margin-right: 0;
}
/* ///global */


/* header */
.header {
	display: none;
	background-color: #444444;
}

.header__inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
}

.header__logo {
	max-width: 200px;
	max-height: 50px;
	overflow: hidden;
}

.header__logo img {
	max-width: 100%;
	max-height: 100%;
}

.main-nav {}

.main-nav__wrapper {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__unit {
	margin-right: 60px;
}

.main-nav__unit:last-child {
	margin-right: 0;
}

.main-nav__link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}

.main-nav__link:hover {
	color: #ffe401;
}
/* ///header */


/* hero */
.hero {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	min-height: 750px;
	background-image: url("../images/hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__inner {}

.hero__slider {
	max-width: 60%;
	overflow: hidden;
}

.slider__unit-wrapper {}

.slider__unit {}

.slider__head {
	margin: 0 0 70px 0;
	font-size: 60px;
	color: #444444;
}

.slider__descr {
	margin: 0 0 20px 0;
	color: #444444;
}

.slider__btn {
	margin-bottom: 30px;
	padding: 15px 30px;
	border: 1px solid black;
}

.slider__nav {
	display: inline-block;
}

.slider__nav-unit {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 5px;
	font-size: 0;
	background-color: #e3e3e3;
	cursor: pointer;
}

.slider__nav-unit--active {
	background-color: #444444;
}
/* ///hero */

/* about section */
.about {
	background-image: url("../images/about.jpg");
	background-position: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1px solid lightgray;
}

.about__descr {
	display: table;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #444444;
	font-family: 'Muli', sans-serif;
}

.about-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 150px;
}

.about-cards__item {
	flex-basis: 360px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	padding: 0 10px;
	margin-right: 25px;
	text-align: center;
	color: white;
	background-color: black;
	transition: all .5s ease-in-out;
	cursor: default;
}

.about-cards__item:last-child {
	margin-right: 0;
}

.about-cards__item:hover {
	background-color: #ffe401;
}

.about-cards__item:hover .icon {
	color: white;
}

.about-cards__item:hover .about-cards__descr {
	height: auto;
	opacity: 1;
}

.about-cards__item .icon {
	font-size: 100px;
	color: #ffe401;
}


.about-cards__name {
	font-weight: 400px;
	font-size: 18px;
}

.about-cards__descr {
	opacity: 0;
	height: 0;
	transition: all .3s ease-in-out;
}

.about-nums {}

.about-nums__head {
	text-align: center;
	color: #444444;
}

.about-nums__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

.about-nums__item {
	font-size: 46px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.about-nums__sub-text {
	display: block;
	color: #444444;
	font-size: 13px;
	font-family: 'Muli', sans-serif; 
}
/* ///about section */


/* boost site section */
.boost-site {
	background-image: url("../images/boost.jpg");
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
}

.boost-site__info {
	max-width: 65%;
}

.boost-site__info .section__head-wrapper {
	margin-bottom: 45px;
	text-align: left;
}

.boost-site__info .section__head {
	font-size: 71px;
}

.boost-site__info .section__sub-text {
	font-size: 26px;
	bottom: 3px;
}

.boost-site__descr {
	margin-bottom: 45px;
	font-size: 16px;
	color: #757575;
}

.boost-site__list {
	padding: 0;
	margin: 0 0 30px 0;
	list-style: none;
}

.boost-site__list li {
	position: relative;
	margin-bottom: 15px;
	font-size: 16px;
	color: #757575;
}

.boost-site__list .ion-android-star:before {
	vertical-align: middle;
	margin-right: 5px;
	font-size: 21px;
}

.boost-site__btn {
	padding: 15px 25px;
	font-size: 13px;
	font-weight: bold;
	background-color: #ffe401;
}
/* ///boost site section */